
*{
  margin: 0px;
}
/* HEADER Y NAV */

nav{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border: none;
    
}
nav img {
    height: 100%;
    border: none;
  }
.hamburguesa .fa-bars {
      display: none;
      
    }

.container-menu{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.menu {
    color: white;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin: 10px;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu .desplegable {
    margin-left: auto ;
    
}

.menu a{
    text-decoration: none;
    text-transform: none;
    padding: 7px;
}

a:visited{
    color: inherit;
}

/* Desplegable nav */

.desplegable {
    position: relative;
  }
  
  .desplegable:hover .desplegados {
    display: block;
  }
  
  .desplegados {
    display: none;
    position: absolute;
    top: 70%;
    left: 20px;
    background-color: #fcfcfc;
    padding: 0;
    border-radius: 5px;
    z-index: 999  ;
  }
  
  .desplegados li {
    display: block;
  }
  
  .desplegados li a {
    display: block;
    padding: 12px 8px;
    font-size: 18px;
    width: 140px;
    border-radius: 17px;
    color: black;
    text-decoration: none;
  }
  
  .desplegados li a:hover {
    background-color: #f0f0f0;
  }


@media (max-width:768px) {

.nav{
  justify-content: start;
  flex-direction: column;
  align-items: center;
}
.container-menu{
  position: fixed;
  top: 45px ;
  right: -300px ;
  width: 240px;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}
.menu {
    color: white;
    
    display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  justify-items: center;
  }


.desplegados{
  
left: -120px;
}
.desplegable{
  display: flex;
}

.hamburguesa .fa-bars{
display: block;
margin: 20px 10px 10px 10px;
font-size: 30px;
color: white;
}




}

/* FIN HEADER Y NAV */


/* MAIN */
/* Hot Sale */

.carrusel img {
    width: 100%;
    height: auto;
    
}

/* Tarjetas */
.div-productos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.productos{
  display: flex;
  flex-direction: row;
  margin: 75px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tarjeta{
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 4%;
    box-shadow: -1px 3px 31px 3px rgba(0,0,0,0.76);
-webkit-box-shadow: -1px 3px 31px 3px rgba(0,0,0,0.76);
-moz-box-shadow: -1px 3px 31px 3px rgba(0,0,0,0.76);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
}
.imagentarjeta{
  width: 100%;
}
.descripcion-producto{
  font-size: 14px;
}
.boton-comprar {
	box-shadow: -2px 3px 1px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:15px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Poppins;
	font-size:17px;
	padding:6px ;
	text-decoration:none;
	text-shadow:0px 0px 0px #810e05;
  
}
.boton-comprar:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.boton-comprar:active {
	position:relative;
	top:1px;
}



/* Contacto */
.contenedor-contacto {
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formulario {
  width: 1000px;
  max-width: 100%;
  padding: 25px;
  background-color: black;
}

.formulario h2 {
  color: white;
  font-size: 55px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: start;
  margin: 0;
  padding: 0;
}

.contactos-inputs,
.contactos-consulta {
  width: 100%;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  border-radius: 5px;
}

.boton-enviar {
  background-color: #c50f24;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  font-family: Poppins;
}

.contenedor-contacto .formulario form {
  display: grid;
  grid-gap: 20px;
}

@media (max-width: 1200px) {
  .formulario {
    
    width: auto;
  }

  .formulario h2 {
    font-size: 24px;
  }

  .contactos-inputs,
  .contactos-consulta {
    font-size: 16px;
    width: 70vw;
  }

  .boton-enviar {
    font-size: 18px;
    max-width: none;
  }
}

/* UBICACION */
.ubicacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: center;
  padding-top: 50px;
  
  
}
.mapa{
  margin: 0px 150px 100px;
  
}

.material-symbols-outlined {

  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.ubicacion-icono{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: white;
}

@media (max-width: 1200px) {

  .mapa{
    padding: 20px;
  }
 
}
@media (max-width: 768px) {

  .mapa{
    padding: 50px;
  }
 
}

/* FOOTER */
.footer{
  display: grid;
  padding-top: 15px;
  background-color: rgb(0, 0, 0);
  grid-template-columns: auto auto auto;
  justify-content: space-around;

}

.footer div{
  font-family: Poppins;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  
}

.footer-grid-1{
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-grid-2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer p{
  margin: 0px;
}

@media (max-width: 768px) {

  .footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 5fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .footer-grid-1 { grid-area: 1 / 1 / 2 / 2; }
    .footer-grid-2 { grid-area: 2 / 1 / 3 / 2; 
    display: flex;
  flex-direction: row;
padding: 10px;
padding-left: 12px;
justify-content: space-around;}
    .footer-grid-3   { grid-area: 3 / 1 / 4 / 2;
      display: flex;
      flex-direction: row;
    padding: 10px;
    padding-left: 12px;
    margin-bottom: 15px;
    justify-content: space-around; }

}


/* PAGINA REGISTRO */
.iniciar-registro{
  display: flex;
  margin:100px 0px;
  height: auto;
  justify-content: space-around;
  flex-wrap: nowrap;
  

}

.tarjeta-inicio{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 6px solid black;
  border-radius: 15px;
  justify-content: start;
  background-color: #fff5f556;
  box-shadow: -8px 15px 23px 11px rgba(0,0,0,0.62);
-webkit-box-shadow: -8px 15px 23px 11px rgba(0,0,0,0.62);
-moz-box-shadow: -8px 15px 23px 11px rgba(0,0,0,0.62);
  
}
.formulario-inicio-sesion{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.texto-inicio-sesion{
  padding: 25px;
  display: flex;
  justify-content: center;
  font-family: Poppins;
}

.inputs-inicio-sesion{
  display: flex;
margin-top: 50px;
  flex-direction: column;
  margin: 25px;
  border-radius: 5px;
  border-color: #6f6566;
  width: 250px;
  height: 20px;
}

.boton-sesion {
  font-family: Poppins;
  color: #ffffff;
  font-size: 15px;
  padding: 11px;
  margin-top: 100px;
  margin-bottom: 5px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #575757;
  -moz-box-shadow: 0px 1px 3px #575757;
  box-shadow: 0px 1px 3px #575757;
  text-shadow: 0px 2px 5px #4a4a4a;
  border: solid #3e3a3d 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b81f1f), to(#993535));
  background: -moz-linear-gradient(top, #b81f1f, #993535);
}
.boton-sesion:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b53232), to(#521111));
  background: -moz-linear-gradient(top, #b53232, #521111)
}


.tarjeta-registro{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 6px solid black;
  border-radius: 15px;
  justify-content: center;
  background-color: #fff5f556;
  box-shadow: -8px 15px 23px 11px rgba(0,0,0,0.62);
-webkit-box-shadow: -8px 15px 23px 11px rgba(0,0,0,0.62);
-moz-box-shadow: -8px 15px 23px 11px rgba(0,0,0,0.62);
  
}
.formulario-registro{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-registro{
  padding: 25px;
  display: flex;
  justify-content: center;
  font-family: Poppins;
}

.inputs-registro{
  display: flex;

  flex-direction: column;
  margin: 25px;
  border-radius: 5px;
  border-color: #6f6566;
  width: 250px;
  height: 20px;
}

.boton-registro {
  font-family: Poppins;
  color: #ffffff;
  font-size: 15px;
  padding: 11px;
  
  margin-bottom: 5px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #575757;
  -moz-box-shadow: 0px 1px 3px #575757;
  box-shadow: 0px 1px 3px #575757;
  text-shadow: 0px 2px 5px #4a4a4a;
  border: solid #3e3a3d 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b81f1f), to(#993535));
  background: -moz-linear-gradient(top, #b81f1f, #993535);
}
.boton-registro:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b53232), to(#521111));
  background: -moz-linear-gradient(top, #b53232, #521111)
}


@media (max-width:768px){

  .iniciar-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px 0px;
    height: auto;
    /* justify-content: center; */
    flex-wrap: wrap;
}
}

/* PAGINA PREGUNTAS FRECUENTES */

.preguntas-frecuentes{
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 30px;
  margin: 50px;
}
.preguntas{
  margin: 20px;
  font-family: Poppins;
  ;
}
.respuestas{
  font-family: Poppins;
}


/* PAGINA AIR FORCE */

